*{
    margin: 0px;
    padding: 0px;
}

#myform{
    background-color: rgb(231, 89, 89);
     width: 400px;
    height: 500px;
    padding-top: 30px;
    place-self: center;
}

#container{
     place-self: center;
}

#input{
    margin-top: 20px;
}

h4{
    margin-top: 15px;
}
 
h2{
    margin-top: 15px;
}
 
p{
    margin-top: 15px;
}

button{
    margin-top: 30px;
    margin-left: 80px;
    width: 100px;
}